@font-face {
    font-family: 'Recbold';
    src: url('../fonts/recbold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

html {
    background-color: #000000;
}

body {
    font-family: 'Recbold';
    margin: 0;
    padding: 0;
    text-align: center;
    color: #f1f1f1;
    background: url('../img/background.gif');
    overflow-x: hidden;
    position: relative;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

header {
    padding: 20px 0;
    position: relative;
    z-index: 2;
}

header h1 {
    font-size: 6rem;
    color: #f1f1f1;
    text-shadow: 3px 3px 0 #ff0000, -3px -3px 0 #00ffff;
    position: relative;
    z-index: 2;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

main {
    padding: 20px;
    position: relative;
    z-index: 2;
    flex: 1;
}

.link-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.link {
    display: block;
    width: 80%;
    max-width: 400px;
    padding: 15px;
    text-decoration: none;
    color: #f1f1f1;
    border-radius: 5px;
    font-size: 1.4rem;
    position: relative;
    overflow: hidden;
    text-shadow: 1.5px 1.5px 0 #ff0000, -1.5px -1.5px 0 #00ffff;
    transition: background-color 0.3s ease;
    border: 3px solid #ff007b;
    background-clip: padding-box;
}

.link:hover {
    background-color: #ff007b;
    border: 3px solid #f1f1f1;
}

.link::after,
.link::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    z-index: -1;
    transform: translate(0, 0);
    mix-blend-mode: screen;
    opacity: 0.5;
}

.link::after {
    transform: translate(2px, 2px);
    filter: hue-rotate(60deg);
}

.link::before {
    transform: translate(-2px, -2px);
    filter: hue-rotate(-60deg);
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05) 1px, transparent 1px, transparent 4px);
    opacity: 0.1;
    z-index: 1;
    pointer-events: none;
}

footer {
    text-align: center;
}

@media (max-width: 600px) {
    .link {
        width: 90%;
    }

    header h1 {
        font-size: 4rem;
        margin-top: 0.4em;
        margin-bottom: 0.4em;
    }
}
